* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(41, 76, 76);
    background-color: cadetblue;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px), screen and (min-height: 768px) {
  main, header {
    grid-template-columns: 1fr;
  }
}

header, footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(98, 190, 190);
    color: azure;
}

header {
    align-items: stretch;
    justify-content: start;
}

footer {
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(41, 76, 76);
}

.left {
    padding: 10px;
    background-color: rgb(164, 232, 232);
}

.right {
    padding: 10px;
    background-color: azure;
}

.left-column,
.right-column {
    margin-bottom: 30px;
}

.skill-name {
    display: inline-block;
    width: 130px;
}

.skill-bar {
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: azure;
    margin-left: 10px;
}

.skill-level {
    height: 100%;
    background-color:rgb(41, 76, 76);
}

.language-level {
    font-weight: bold;
}

.image {
    border: 1em black;
}

.details {
    margin-left: 20px;
}
